body{
    margin: 0;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --light-purple: #a687c9;
    --yellow: #ffd000;
  }
section{
    display: flex;
    width: 64vw;
    margin: 0 auto;
    height: 100vh;
}

#card-container {
    display: flex;
    position: relative;
    width: 33%;
  }

#right{
    font-size: 1.1rem;
    color: var(--light-purple);
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    background-color: #b303b938;
}

.card-image {
    width:100%;
    object-fit: cover;
}
.card-subimage{
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.3;
    color: var(--yellow);
    top: 12rem;
}
.subimage{
    width: 30%;
    margin-left: 35%;
    color: black;
}
.credit{
    position: absolute;
    bottom: .8rem;
    margin-left: 23%;
    color: var(--yellow);
    font-size: .9rem;
    max-width: 50%;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}
#notReal{
    width: 75%;
    margin-top: 5%;
}
.input-inline{
    display: inline-block;
    margin-right: 5%;
}

p>label{
    display: block;
}

input[type=text], [type=email], [type=tel], [type=password]{
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 1.2rem;
}
input:invalid{
    background-color:#c99e96;
}
input:focus{
    outline: solid 2px #a08beb;
    box-shadow: 5px 5px 20px #ffa500;
}

input:valid{
    border: none;
}
input[type=submit]{
  background-color: var(--light-purple);
  border: none;
  border-radius: 5px;
  color: blanchedalmond;
  font-size: 1.2rem;
  padding: 2%;
  margin-top: 3%;
  text-decoration: none;
  cursor: pointer;
  width:258px;
}

a{
    color: var(--light-purple);
    padding-bottom: 8%;
}

@media screen and (max-width: 1600px) {
    section{
        width: 80vw;
    }
}
@media screen and (max-width: 1100px) {
    section{
        width: 100vw;
    }
}
@media screen and (max-width: 850px) {
    section{
        flex-direction: column;
    }
    #right{
        padding: 0 12%;
        font-size: .8rem;
    }
    #notReal{
        width: 60vw;
        padding: 0 2%;
        font-size: 1rem;
    }
    #card-container {
        width: 100vw;
        margin: 1%;
    }
    .card-subimage{
        top: 30%;
    }
    .subimage{
        width: 9%;
        margin-left: 45%;
    }
    .credit{
        bottom: .1rem;
        margin-left: 34%;
        max-width: 30%;
        text-align: center;
        font-size: .5rem;
    }
    input[type=text], [type=email], [type=tel], [type=password]{
        padding: 2% 2%;
        font-size: 1rem;
    }
    input[type=submit]{
        width: 220px;
    }
}